/*-- scss:defaults --*/

$presentation-h1-font-size:	calc(2.5em/1.5);
$presentation-h2-font-size:	calc(1.6em/1.4);
$presentation-h3-font-size:	calc(1.3em/1.3);
$presentation-h4-font-size:	calc(1em/1.2);
$link-color: #155F83;


/*-- css: custom variables --*/
:root {
  --date-size: 0.75em;
  --date-color: #8f8f8f;
  
  --inst-size: 0.65em;
  --inst-color: #6d6d6d;
  
  --author-size: 1.2em;
  --author-color: #350E20FF;

  --title-color: #155F83FF;
  
  --subtitle-size: 1em;
  --subtitle-color: #8d8d8d;
  
 --center-slide-min-width: 500px;
 --center-slide-min-height: 500px;
  
}

/*-- scss:rules --*/
// General rules ------
.large {
  font-size: 115%;
}
.small {
  font-size: 85%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-blue {
  color: royalblue;
}
.text-red {
  color: firebrick;
}
.text-green {
  color: forestgreen;
}
.comment .callout {
  background: lightcyan;
}

.level2 {
  &.huge {
    h2 {
      font-size: 200%;
    }
  }
}
.title-slide.level1 {
  &.huge {
    h1 {
      text-align: left;
      font-size: 350%;
      line-height: 75%;
      font-variant: all-small-caps;
      color: #3d3d3d;
      text-shadow: 2px 2px 3px #0f0f0f33;
      border-left: 5px solid #0f0f0f33;
      padding-left: 25px;
    }
  &#extra {
    h1 {
      color: whitesmoke;
      border-left-color: #f0f0f099;
      font-size: 250%;
    }
  }
  }
}
.title-slide.level1#summary {
  h1 {
    text-align: left;
  }
}
.title-container {
  width: 60%;
  display: grid;
  height: calc(var(--slide-height) - 100px);
  align-content: space-between;
  text-align: left;

  .title {
    color: var(--title-color);
  }
  
  .subtitle {
    font-size: var(--subtitle-size);
    color: var(--subtitle-color);
  }
  
  .date {
    color: var(--date-color);
    font-size: var(--date-size);
  }
  
  .institute ~ p {
    font-size: var(--inst-size);
    color: var(--inst-color);

    span.conf {
      display: inline-flex;
      margin-top: 15px;
    }
  }
  
  .author {
    font-size: var(--author-size);
    color: var(--author-color);
  }
}

.reveal .panel-tabset [role=tab][aria-selected=true] {
  background-color: hwb(0deg 100% 10%);
  border-bottom: outset;
}

/* Tweaking the apperiance */
sup ~ sup::before {
  content: ", ";
}

.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
    font-size: 0.6em;
}

section.smaller table.gt_table {
  font-family: "Cascadia Mono", "Fira Mono", consolas, monospace;
  font-size: 75%;
}

.panel-tabset .panel-tabset-tabby a[role="tab"] {
    font-size: 85%;
    font-variant: all-small-caps;
    font-family: "Helvetica", "Arial", "Sans-Serif";
    color: #0f0f0f;
}

.reveal .slide.level1.quote  {

  h1 {
    font-size: 1.5em;
    color: #6d6d6d;
    padding-left: 1.5em;

    &::before {
      content: "🙶";
      font-family: serif;
      font-size: 2.5em;
      position: fixed;
      top: -0.75em;
      left: -0.25em;
      color: #f0f0f0;
      -webkit-text-stroke: 3px #a0a0a0;
    }
  }

}

.revel section.center.middle.level2.smaller {
  h2 {
    font-size: 180%;
  }
}

#outline {
  .column {
    display: grid; 
    height: min(500px, var(--slide-height) - 100px); 
    padding: 50px 0px;
  }
  ul {
    display: grid;
    list-style: none;
    margin-left: 10px;
    align-content: end;
    
    li {
      display: inline-grid;
      grid-auto-flow: column;
      justify-content: flex-start;
      grid-column-gap: 10px;
      align-content: center;
      
      &::before {
        content: "\2299";
      }
    }
  }
}

#aim {

  h1 {
    font-size: 200%;
    color: var(--title-color);
  }

}

section:not(.smaller) {
  .panel-tabset {
    .panel-tabset-tabby {
      font-size: 75%;
      padding: 0;
      margin: 0;
    }
  }
  .smaller {
    font-size: 75%;
  }
}

section:not(.center) .center {
  width: 100%;
  min-width: var(--center-slide-min-width);
  min-height: var(--center-slide-min-height);
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Collab grid */
#logo-profile .collab-logo p {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    justify-items: stretch;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
    * {
      margin: 0;
      padding: 0;
    }
    
    img {
      grid-column: 1/3;
      min-width: 100%;
    }
    
    img#crn {
      grid-column: 1/1;
    }
    img#qimr {
      grid-column: 2/3;
    }
}

#funded-by {
  bottom: 33px;
  right: 60px;
  width: 150px;
  
  * {
    margin: 0;
    padding: 0;
  }
  
}

/* Profile grid */
#logo-profile {
  h3 {
    text-align: center;
  }
  .profile-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 10px;
      max-width: 80%;
      margin: 0 auto;
      
      * {
        margin: 0;
        padding: 0;
      }
      
      .profile-card {
        display: grid;
        justify-items: center;
        font-size: 45%;
        font-family: sans-serif;
        
        img {
          outline: 1px solid darkslategray;
        }
      }
  }
  #funding {
    margin-top: 50px;
    
    p {
      color: maroon; 
      justify-content: flex-start;
      grid-row-gap: 0;
    }
  }
}

/* Complete hide fragment */
.fragment.current-visible {
    display: none;
}

.fragment.current-visible.current-fragment {
    display: block;
}
.reveal .r-stack > * {
  margin-top: 0;
}

/* Details */
.reveal {
  section.middle {
    display: grid!important;
    justify-content: center;
    align-items: center;

    &.center {
      text-align: center;
    }

    h2 {
      align-self: start;
    }
  }

  .columns.grid {
    display: grid!important;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;

    .column {
      width: 100%;

      &.text-left {
        text-align: left;
      }
    }

  }

  
  div.callout-quote.no-icon.callout-style-simple {
      border-left: solid 1px silver;
      font-size: 90%;
      text-align: center;
  }

  div.callout-note {
    border-left-color: #53839D!important;
    .callout-caption {
      background-color: #cadae3!important;
    }
  }
  div.callout-warning {
    border-left-color: #FFB547!important;
    .callout-caption {
      background-color: #FFFDFD!important;
    }
  }
  div.callout-important {
    border-left-color: #8F3931!important;
    .callout-caption {
      background-color: #FFFCFB!important;
    }
  }
  div.callout-tip {
    border-left-color: #A3A774!important;
    .callout-caption {
      background-color: #dadcc7!important;
    }
  }
  .backgrounds {
    .ai .slide-background-content::after {
      content: "Source: AI (leonardo.ai)";
      right: 0;
      bottom: 0;
      position: absolute;
      font-size: 40%;
      padding: 10px 15px;
      border-radius: 10%;
      margin: 5px 6px;
    }
    .dark .slide-background-content::after {
      color: #f5f5f5;
      background: #0f0f0f88;
    }
    .light .slide-background-content::after {
      background: #f5f5f5;
      color: #0f0f0f88;
    }
  }

  /* Outlook slide */
  #outlook .columns .column:first-child {
    font-size: 85%;
  }

  /* Aside */
  aside p {
    font-size: 80%;
  }

}

/* References */
#refs {
  column-count: 2;
  column-gap: 100px;
  overflow-x: hidden;
  
   div {
    font-size: 70%;
    padding-bottom: 10px;
  }

  &.hanging-indent {
    margin-left: 0;
    text-indent: 0;
  }
 }

